#Footer {
  width: 95%;
  max-width: 1262.86px;

  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
  color: white;
}

.nameEmail {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-name {
  font-family: "Warnes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  background: linear-gradient(90deg, #19eada, #14fdb1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.email {
  font-size: 1rem;
  padding: 0.5rem;
  user-select: all;
  /* text-decoration: none; */
}

/* 
.email:hover{
    color: white;
    border-bottom: 2px solid green;
    transform: scaleX(1);
} */

#Footer > span {
  color: #92a49e;
  white-space: pre;
  font-size: 0.9rem;
}

.animated-underline {
  /* display: inline-block; */
  position: relative;
  /* cursor: pointer; */
}

.animated-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #16eaa1;
  transform-origin: bottom right;
  transition: transform 0.1s ease-out;
}

.animated-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition-duration: 0.25s;
}

@media (max-width: 990px) {
  #Footer {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
  }

  .nameEmail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .footer-name {
    font-size: 2rem;
  }

  .email {
    font-size: 1rem;
    padding: 0.5rem;
  }

  #Footer > span {
    color: #92a49e;
    white-space: pre;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .footer-name {
    font-size: 1.8rem;
  }
}

@media (max-width: 510px) {
  .footer-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  #Footer {
    padding: 2rem 2rem;
  }
  .nameEmail {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-name {
    font-size: 1.8rem;
  }
  .email {
    font-size: 1.2rem;
  }
}
