hr {
  border-color: #151515;
}

#AboutMe {
  width: 95%;
  max-width: 1368px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding-top: 7.5rem;

  /* align-items: stretch; */
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 70%;
  padding: 1.5rem;
}

.list-item {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: 1.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(255, 255, 255, 0.3);
}
.list-item .number {
  background-color: #2d2d2d;
  border-radius: 0.5rem;
  padding: 0.35rem 0.65rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.list-item .text {
  flex: 1;
  line-height: 1.5;
  font-size: 1.3rem;
}
.list-item .text a {
  color: #00aaff;
  text-decoration: none;
}
.list-item .text a:hover {
  text-decoration: underline;
}

@media (max-width: 990px) {
  #AboutMe {
    width: 100%;
    gap: 1rem;

    padding: 2rem 2rem;
    justify-content: start;
    align-items: center;
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
    padding-left: 1rem;
  }

  #vl {
    display: none;
  }
  .list-item {
    padding: 1rem;
  }

  .list-item .number {
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .list-item .text {
    flex: 1;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  .listContainer {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  #AboutMe {
    padding: 18px 18px;
  }

  .list-item .text {
    font-size: 1.1rem;
  }
}
