.introContainer {
  display: flex;
  z-index: 2;
  

}

#profileImageContainer {
  width: 58vw;
}

#intro-Content {
  position: relative;
  width: 40vw;
  max-width: 38.7rem;
}

#intro-Content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}

#intro-Content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  width: 30vw;
  margin-top: 1.5rem;
  color: darkgray;
}

@media (min-width: 991px) and (max-width: 1440px) {
  #intro-Content h1 {
    font-size: clamp(44px, calc(100vw * 0.0444444), 64px);
  }

  #intro-Content p {
    font-size: clamp(14px, calc(100vw * 0.0133333 + 0.8px), 20px);
    width: 30vw;
  }
  
}

@media (max-width: 990px) {
  .introContainer {
    flex-direction: column;
    padding: 2rem 2rem;
  }

  #intro-Content {
    position: relative;
    width: 90vw;
  }

  #profileImageContainer {
    height: 90vh;
  }

  #intro-Content h1 {
    font-size: 2.5rem;
  }

  #intro-Content p {
    font-size: 1.25rem;
    width: auto;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .introContainer {
    flex-direction: column;
    padding: 18px 18px;
  }

  #profileImageContainer {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  #profileImageContainer {
    height: 70vh;
  }

  #intro-Content h1 {
    font-size: 2.3rem;
    margin-top: 0.5rem;
  }

  #intro-Content p {
    font-size: 1.15rem;
    margin-top: 0.5rem;
  }
}
