#intro {
  position: relative;
}

#introTopLeftGradient {
  height: 50vh;
  width: 50vh;
  top: auto;
  left: auto;
  background-image: radial-gradient(
    circle at top left,
    #093436 0%,
    #010405 70%
  );
}

#introRightGradient {
  height: 60vh;
  width: 60vh;
  right: 0;
  background-image: radial-gradient(circle at 70% 38%, #093436 0%, #010405 70%);
}

.introduction-content-container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}
@media (max-width: 990px) {
  #introTopLeftGradient {
    height: 100%;
    width: 100%;
  }
  #introRightGradient {
    display: none;
  }
}

@media (max-width: 480px) {
  #introTopLeftGradient {
    height: 40%;
    width: 70%;
    background-image: radial-gradient(
      circle at top left,
      #093436 0%,
      #010405 60%
    );

    /* display:none; */
  }
}
