#intro {
  position: relative;
  background: #010405; /* base canvas */
  overflow: visible; /* allow glow to extend */
  isolation: isolate;
}
/* 
#introTopLeftGradient {
  height: 50vh;
  width: 50vh;
  top: auto;
  left: auto;
  background-image: radial-gradient(
    circle at top left,
    #093436 0%,
    #010405 70%
  );
} */

#introTopLeftGradient {
  width: 350px;
  height: 350px;
  top: -40px;
  left: -40px;

  background: radial-gradient(
    circle at 20% 20%,
    #093436 0%,
    /* fully opaque center */ rgba(9, 52, 54, 0.9) 18%,
    /* stay strong a bit longer */ rgba(9, 52, 54, 0.35) 40%,
    rgba(9, 52, 54, 0) 72%
  );
}
/* 
#introRightGradient {
  height: 60vh;
  width: 60vh;
  right: 0;
  background-image: radial-gradient(circle at 70% 38%, #093436 0%, #010405 70%);
} */

#introRightGradient {
  width: 600px;
  height: 600px;
  top: 10%;
  right: 0%;

  background: radial-gradient(
    circle at 80% 38%,
    #093436 0%,
    /* fully opaque center */ rgba(9, 52, 54, 0.9) 18%,
    /* stay strong a bit longer */ rgba(9, 52, 54, 0.35) 40%,
    rgba(9, 52, 54, 0) 72%
  );
}

.introduction-content-container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

@media (max-width: 990px) {
  /* #introTopLeftGradient {
    height: 100%;
    width: 100%;
  } */
  #introTopLeftGradient {
    width: 350px;
    height: 350px;
    top: -100px;
    left: -70px;
    background: radial-gradient(
      circle at 20% 20%,
      rgba(9, 120, 125, 1) 0%,
      rgba(9, 120, 125, 0.75) 30%,
      rgba(9, 120, 125, 0.25) 55%,
      rgba(9, 120, 125, 0) 75%
    );
    /* background-image: radial-gradient(
      circle at top left,
      #093436 0%,
      #010405 60%
    ); */

    display: none;
  }
  #introRightGradient {
    display: none;
  }
}

@media (max-width: 768px) {
  #introTopLeftGradient {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  #introTopLeftGradient {
    width: 300px;
    height: 300px;
    top: -100px;
    left: -70px;
    background: radial-gradient(
      circle at 20% 20%,
      rgba(9, 120, 125, 1) 0%,
      rgba(9, 120, 125, 0.75) 30%,
      rgba(9, 120, 125, 0.25) 55%,
      rgba(9, 120, 125, 0) 75%
    );
  }
}
