#Work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 3rem auto 4.3rem;
  padding: 3rem 0;
  /* min-height: min-content; */

  /* gap: 1.9rem; */
  /* background-color: brown; */
}

#workCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 100%;
  margin: 1.9rem 0;
  /* padding: 1rem; */
  /* min-height: min-content; */
  /* background: yellow; */
}

@media (max-width: 990px) {
  #Work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 2rem 8rem;
    margin-bottom: 6rem;
    gap: 1rem;
    /* background-color: brown; */
  }

  #workCardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    width: 100%;
    padding: 0;
    /* min-height: max-content; */
    /* background: yellow; */
  }
}

@media (max-width: 768px) {
  #Work {
    padding: 5rem 18px 8rem;
    gap: 1rem;
    /* background-color: brown; */
  }

  #workCardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    width: 100%;
    padding: 0;
    margin: 0;
    /* background: yellow; */
  }
}

@media (max-width: 480px) {
  #Work {
    gap: 1.5rem;
    padding-bottom: 8rem;
  }
}
