.scrollingTextContainer {
  overflow: hidden;
  background-color: #13e5a1;
  display: flex;
  /* white-space: nowrap;  */
  /* font-size: 0;  */
}

.scrollingText {
  white-space: nowrap; /* allow text to wrap and ignore extra spaces */
  font-size: 200px;
  display: inline-block;
  animation: 10s scroller infinite linear;
  color: black;
  flex-shrink: 0;
}

@keyframes scroller {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* responsive font-sizes */
@media (max-width: 1440px) and (min-width: 991px) {
  .scrollingText {
    font-size: clamp(140px, calc(100vw * 0.1333333 + 8px), 200px);
  }
}

@media (max-width: 990px) {
  .scrollingText {
    font-size: 10rem;
  }
}

@media (max-width: 768px) {
  .scrollingText {
    font-size: 9rem;
  }
}

@media (max-width: 480px) {
  .scrollingText {
    font-size: 8rem;
  }
}
