#SocialLinks {
  position: relative;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  justify-items: center;
  
}

.slTopGradient {
  position: absolute;
  top: 0;
  z-index: -2;
  height: 20rem;
  width: 100%;
  background-image: radial-gradient(
    ellipse at 50% -3%,
    #093436 0%,
    #010405 70%
  );
}

.linksContainer {
  width: 55%;
  margin: 0 auto;
  max-width: 80%;
  height: 5rem; /* Tailwind’s h-28 */
  border-radius: 5rem; /* Tailwind’s rounded-[5rem] */
  box-shadow: 0 0 0.1rem 0.1rem rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
}

.linkContainer {
  flex: 1;
}

.linkContainer > a {
  text-decoration: none;
}

.link {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}


.link > span {
  font-size: 1rem;
}

.site-icons {
  height: 1rem;
  width: 1rem;
}

.link:hover {
  background-color: #05292b;
  cursor: pointer;
}

@media (max-width: 990px) {
  #SocialLinks {
    padding-top: 5rem;
    gap: 2rem;
  }

  .linksContainer {
    width: 70%;
    height: 5rem; /* Tailwind’s h-28 */
  }

  .link {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .link > span {
    display: none;
  }

  .top-right-arrow {
    display: none;
  }

  .site-icons {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 480px) {
    .site-icons {
    height: 30px;
    width: 30px;
  }
}
