
#Technologies{
    position: relative;
    height: 1008px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologiesCenterdiv {
    height: 100%;
    width: 80%;
    background-image: radial-gradient(circle at center, #093436 0%,  #010405 45%)
}

.circle{
    position: absolute;
    border-radius: 50%;
    border: 1px dashed #707b79;
    z-index: 2;
}

#technologiesOuterCircle{
    height: 504px;
    width: 504px;
}

#technologiesInnerCircle{
    height: 252px;
    width: 252px;    
}

.globeImageContainer{
    position: absolute;
    height:655px;
    width:655px;
    z-index: 3;
    /* background-color: green; */
    border-radius: 50%;
    overflow: hidden;
}

.globeImage{
    position: absolute;
    height: 514px;
    width: 514px;
    right: -32%;
    bottom: -26%;
    opacity: 20%;
    transform: rotate(-136deg);
}


.globeIconContainer{
    position: absolute;
    z-index:4;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.rotationAxis{
    height: 563px;
    animation: movement 10s linear infinite; 
}

.globeImageContainer2 {
    height: 4rem;
    width: 4rem;
    background: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* animation: movement 30s linear infinite; */
    
}

.globeImage2 {
    height: 60%;
    width: 60%;
    animation: movement 8s linear infinite;
    
}

@keyframes movement {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.technologiesText {
    position: absolute;
    z-index: 5;
    width: 50rem;
    font-size: 5rem;
    text-align: center;
}

.scrollingAnimationContainer{
    position: relative;
    z-index: 6;
    width: 856px;
    height: 534px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 20%; */
}


@media (max-width: 990px) {
    

#Technologies{

    height: 40rem;
    
}


.technologiesText {
    
    z-index: 5;
    width: 40rem;
    font-size: 4rem;
}


.globeImageContainer{
    
    position: absolute;
    height:40rem;
    width:40rem;
    
}

#technologiesOuterCircle{
    height: 25rem;
    width: 25rem;
}

#technologiesInnerCircle{
    height: 12rem;
    width: 12rem;    
}


.rotationAxis{
    height: 29rem;
    animation: movement 10s linear infinite; 
}

}   



@media (max-width: 768px) {
    #Technologies{
      display: none;
    }
}