

.technologyContainer {
    position: relative;
    border-radius: 5rem;
    font-size: 2.8rem;
    font-weight: 300;
    padding: 0.8rem 2rem 0.9rem;
    background: rgba(90,137,253,.2);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


@media (max-width: 990px){
    
.technologyContainer {
    
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem;
    gap:0.5rem;
}
}

