.technologyContainer {
  position: relative;
  border-radius: 5rem;
  font-size: clamp(16px, calc(100vw * 0.0266667 - 10.4px), 28px);
  font-weight: 300;
  padding: 8px 20px 9px;
  background: rgba(90, 137, 253, 0.2);
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  white-space: nowrap;
}

.technologyIcon {
  height: clamp(16px, calc(100vw * 0.0266667 - 10.4px), 28px);
  width: clamp(16px, calc(100vw * 0.0266667 - 10.4px), 28px);
}

@media (max-width: 990px) {
  .technologyContainer {
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem;
    gap: 0.5rem;
  }
}
