@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-Warnes: "Warnes", "cursive";

  --color-neonGreen: #14fdb1;
  --color-h3Color: #73fcd6;
  --color-h4Color: #aaf7ec;
  --color-oceanBlue: #1b878a;

  --breakpoint-tablet: 991px;
}

* {
  /* margin: 0; */

  /* font-size: 0.7vw; */
  position: relative;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth; /* CSS property for smooth scrolling */
}

body {
  position: relative;
  z-index: -7;
  background-color: #010405;
}

.loadingScreen {
  /* background-color: red; */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  position: relative;
  z-index: -6;
}
.appPage {
  position: relative;
  z-index: -4;
  color: white;
  font-family: "Roboto", sans-serif;
}

.scrollablePart {
  z-index: 0;
  background: #010405;
}

.transparentDiv {
  position: relative;
  background: transparent;
  height: 50vh;
  z-index: -5;
}

.fixedPart {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 50vh;
  background: #010405;
}

#infoSection {
  position: relative;
  max-width: 100%;
  margin-top: 50px;
  z-index: 2;
}

/* global classes*/

.smallText {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  background: linear-gradient(90deg, #19eada, #14fdb1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.15rem;
}

.h2Titles {
  font-size: 7.25rem;
  font-weight: normal;
}

.radialGradient {
  position: absolute;
  z-index: 2;
  pointer-events: none;

  /* the Webflow trick: small element, big painted output */
  filter: blur(110px);
  opacity: 0.9;

  /* optional but very close to the reference look on dark backgrounds */
  mix-blend-mode: lighten;
  transform: translateZ(0); /* avoids some blur artifacts */
}

.rightBorder {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.centered {
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 991px) and (max-width: 1440px) {
  .smallText {
    font-size: clamp(10px, calc(100vw * 0.0088889 + 1.2px), 14px);
    letter-spacing: clamp(1.3px, calc(100vw * 0.0015556 - 0.24px), 2px);
  }

  .h2Titles {
    font-size: clamp(80px, calc(100vw * 0.08 + 0.8px), 116px);
  }
}

@media (max-width: 990px) {
  /* * {
    font-size: 16px;
  } */

  body {
    width: 100vw;
  }

  .h2Titles {
    font-size: 5rem;
    font-weight: normal;
  }
  .smallText {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
}

@media (max-width: 768px) {
  .h2Titles {
    font-size: 4rem;
    font-weight: normal;
  }
}

@media (max-width: 480px) {
  .h2Titles {
    font-size: 2.5rem;
    font-weight: normal;
  }
  .smallText {
    font-size: 0.8rem;
  }
}
